.navigation-parent{
    min-height: 50px;
    width: 100%;
    background-color: #11A0DB;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding-right: 80px ;
    padding-left: 30px ;
    flex-wrap: wrap;
    z-index: 100;
}

.nav-btn{
    display: grid;
    align-items: center;
    height: 50px;
    color: white;
    font-weight: 400;
    transition: 0.3s;
    position: relative;
}

.nav-btn:hover{
    background-color: white;
    color: #11A0DB;
}

.nav-child{
    display: grid;
    position: absolute;
    top: 50px;
    background-color: white;
    width: 180px;
    padding: 10px;
    opacity: 0;
    display: none;
    transition: 0.6s;
    z-index: 10;
}

.nav-child-big{
    width: 380px;
    display: flex;
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 10px;
    padding-top: 0px;
    opacity: 0;
    display: none;
    transition: 0.6s;
    z-index: 10;
}


.nav-btn:hover .nav-child{
    opacity: 1;
    display: grid;
}

.nav-btn:hover .nav-child-big{
    opacity: 1;
    display: flex;
}


.nav-child-2{
    display: grid;
    width: 180px;
    padding: 10px;
    transition: 0.6s;
}



.nav-child div, .nav-child-2 div{
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding: 8px;
    transition: 0.5s;
}

.nav-child div:hover, .nav-child-2 div:hover{
    background-color: #F1F1F1;
    margin-left: 5px;
    color: #11A0DB;
}

.nav-child-2 .title{
    font-weight: 500;

}

.nav-child-2 .title:hover{
    background-color: white;
    margin-left: 0px;
    color: black;
}



.nav-button{
    width: 45px;
    height: 40px;
    margin-left: 8px;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.5s;
    border-radius: 4px;
}

.nav-button:hover{
    background-color: #E01224;
}


.nav-name{
    width: 120px;
    margin-left: 5px;
    display: none;
}

.nav-icon{
    width: 90px;
    height: 100%;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.nav-icon div{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #30A6E0;
}


.nav-icon div:nth-child(2) .cart-num{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    top: -5px;
}


.nav-icon div:hover{
    background-color: #E01224;
    color: white;
}






@media screen and (max-width:770px) {
    .navigation-parent{
        height: 70px;
        background-color: #18AFED;
        padding-right: 10px !important;
        padding-left: 10px !important;
        justify-content: flex-start;
    }

    .nav-btn{
        display: none;
    }

    .nav-button{display: flex;}
    .nav-name{display: flex;}
    .nav-icon{display: flex;}

}



            /* Side Navigation  */
    .side-nav{
        position: absolute;
        top: 0;
        height: 1000px ;
        width: 90%;
        left: 0px;
        background-color: white;
        border-right: 1px solid black;
        overflow-y: scroll;
        overflow-x: auto;
    }
    
    .side-nav-top-button{
        width: 100%;
        height: 70px;
        background-color: white;
        display: flex;
    }
    
    .side-nav-top-button div{
        background-color: #11A0DB;
        width: 50%;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    
    .side-nav-top-button div:hover{
        background-color: white !important;
        color: #27B2EA !important;
    }
    
    
    .side-nav-button-active{
        background-color: white !important;
        color: #27B2EA !important;
    }






    /* Side navigation */

.side-nav-parents{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    margin-left: -600px;
    transition: 0.5s;
    /* opacity: 0; */
    z-index: 500;
}

    .nav-button-close{
        width:  55px;
        height: 55px;
        color: black;
        background-color: #27B2EA;
        border: 0.5px solid black;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 1;
        position: absolute;
        right: 15px;
        top: 10px;

    }

    .nav-button-close:hover{
        background-color: #0ea8e6;
        color: #ffffff;
    }
    
    .side-nav-button-parent{
        height: 360px;
        width: 100%;
        background-color: white;
        display: block;
    }
    
    .side-nav-button{
        width: 100%;
        min-height: 60px;
        background-color: white;
        color: black;
        border-bottom: 0.2px solid rgba(0, 0, 0, 0.527);
        display: grid;
        align-items: center;
        position: relative;
        transition: 0.4s;
    }
    
    .side-nav-button:hover{
        background-color: #11A0DB;
        color: white;
    }
    
    .side-nav-button-title{
        margin-left: 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    
    .side-nav-drop-down{
        width: 60px;
        height: 59px;
        position: absolute;
        right: 0px;
        top: 0;
        border-left: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        
    }
    
    
    
    .side-nav-drop-down-menu{
        background-color: #ffffff;
        width: 100%;
        height: 0px;
        transition: 0.5s;
        z-index: -1;
        border-top: 0.2px solid rgba(0, 0, 0, 0.527);
    }
    
    
    
    .side-nav-drop-down-menu{
        height: none;
    }
    
    .side-nav-drop-down-menu div{
        height: 30px;
        width: 90%;
        transition: 0.5s;
        display: flex;
        align-items: center;
        color: black;
        font-size: 13px;
        font-weight: 600;
        padding: 8px;
        margin-top: 5px;
    }
    
    .side-nav-drop-down-menu div p{
        margin-top: 10px;
    }
    
    .side-nav-drop-down-menu div:hover:not(.title){
        background-color: #F1F1F1;
        margin-left: 5px;
        color: #11A0DB;
    }








                            /* Toggleable Tab two */
    
.tab-account{
    display: grid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: none;
}


.tab-account .account-item{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.tab-account .account-item i{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-account .account-item p{
    margin-top: 6px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 12px;
}


.tab-account .account-item:hover{
    color: #11A0DB;
}











