.title{
    display: flex;
    align-items: baseline;
    margin: auto;
    width: 95%;
    height: 50px;
    background-color: rgb(248, 248, 248);
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid #d3d0d0;
    margin-bottom: 10px;
}

.title span{
    margin-top: 16px;
    border-bottom: 3.5px solid #11A0DB;
}







/* Responsive For Items */



.catagories-title{
    display: none;
}

.mobile-accessories-title{
    display: grid;
}

.trendy-product-title{
    display: none;
}

@media screen and (max-width:770px){
    .catagories-title{
        display: grid;
    }

    .mobile-accessories-title{
        display: none;
    }

    .trendy-product-title{
        display: grid;
    }
}